<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
    <ion-buttons end [hidden]="!settingsForm.dirty">
      <button ion-button (tap)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="settings-content">
  <div class="user-image-content">
    <ion-row no-padding class="user-image-row">
      <ion-col no-padding width-40>
        <preload-image *ngIf="imageDataCamera==null" class="user-image" [ratio]="{w:1, h:1}" [src]='constante.getUrlImage(user.urlAvatar)' alt="aca va la img" title="IMAGE!"></preload-image>
        <img [src]="imageDataCamera" *ngIf="imageDataCamera" />
      </ion-col>
    </ion-row>
    <h3 class="image-action" (tap)="changePhoto()">Changer la photo de profil</h3>
  </div>

  <form [formGroup]="settingsForm" class="settings-form">
    <ion-list class="user-data-content">
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Nom</ion-label>
            <ion-input type="text" placeholder="Nom" formControlName="nom"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col  col-6>
          <ion-item>
            <ion-label stacked>Prénom</ion-label>
            <ion-input type="text" placeholder="Prénom" formControlName="prenom"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" placeholder="Email..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Téléphone</ion-label>
        <ion-input formControlName="phone" placeholder="Phone..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Compte</ion-label>
        <ion-input formControlName="iban" placeholder="iban..."></ion-input>
      </ion-item>
    </ion-list>

    <ion-row class="user-preferences-row">
      <ion-item>
        <ion-label stacked>Code de sécurité</ion-label>
      </ion-item>
      <show-hide-container>
      <ion-input type="password" placeholder="code" formControlName="codecourt"  show-hide-input></ion-input>
      </show-hide-container>
      <ion-toggle formControlName="toogleCodeSecu"></ion-toggle>
    </ion-row>


    <ion-row class="user-preferences-row">
      <ion-item>
        <ion-label stacked>Password</ion-label>
      </ion-item>
      <show-hide-container>
        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
        </ion-item>
      </show-hide-container>
      <show-hide-container>
        <ion-item>
          <ion-input type="password" placeholder="Confirm password" formControlName="confirm_password" show-hide-input></ion-input>
        </ion-item>
      </show-hide-container>
    </ion-row>



    <ion-row class="user-preferences-row">
      <span class="radio-tags-label">Currency</span>
      <ion-list class="radio-tags" radio-group formControlName="currency">
        <ion-item class="radio-tag">
          <ion-label>&#36;</ion-label>
          <ion-radio value="dollar"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&euro;</span>
          </ion-label>
          <ion-radio value="euro"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&pound;</span>
          </ion-label>
          <ion-radio value="pound"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-row>


    <ion-list class="switchers-list">
      <ion-item class="switcher-item">
        <ion-label>Notifications</ion-label>
        <ion-toggle formControlName="notifications"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>



  <button class="alt-button logout-button" ion-button full icon-left (tap)="logout()">
    <ion-icon name="log-out"></ion-icon>
    Log out
  </button>
</ion-content>
