<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nouvel Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
  <div  class="forms-wrapper">
    <div  class="post-example-view">
  <form class="sample-form post-form" [formGroup]="creationEventForm" (ngSubmit)="saveEvent()">
    <section class="form-section">
      <ion-item>
        <ion-input type="text" placeholder="Titre de l'event" formControlName="titre"></ion-input>
      </ion-item>
      <button ion-button block large  type="button"  class="upload-image-button" >
        <ion-icon name="camera" (tap)="takePhoto()"></ion-icon><ion-icon name="folder" (tap)="choosePhoto()"></ion-icon><ion-icon name="folder" (tap)="chooseGallery()"></ion-icon>
        <img [src]="imageDataCamera" *ngIf="imageDataCamera" />
        <img [src]="constante.getUrlImage(imageUrl)" *ngIf="imageUrl" />
        <h3 class="button-title">Prenez une photo</h3>
      </button>
    </section>
    <section class="form-section">
      <button ion-button block icon-right  type="button" class="choose-category-button" (tap)="chooseCategory()">
        Choisissez le type d'event
        <ion-icon name="add"></ion-icon>
      </button>
    </section>
    <section class="form-section">
      <ion-item class="multi-input time-item">
        <ion-label floating>Date</ion-label>
        <ion-datetime formControlName="date" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </section>
    <section class="form-section">
      <button ion-button block class="form-action-button create-post-button" type="submit" [disabled]="!creationEventForm.valid">Enregistrer!</button>
    </section>
  </form>
    </div>
  </div>

</ion-content>

