
<div class="circular-menu centered" [ngClass]="{'invisible':!visible}">
  <div  [ngClass]="{'circleClose':!open,'circleOpen':open}">
    <ion-fab *ngFor="let button of buttons" class="petitMenu"  [ngStyle]="button.getStyle()">
      <button (tap)="action(button)" ion-fab color="primary"><ion-icon [name]="button.sousMenu.icon"></ion-icon></button>
    </ion-fab>
  </div>
  <ion-fab class="centered">
    <button *ngIf="photo==null" (tap)="toggle()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <img class="centered-menu" *ngIf="photo!=null" (tap)="toggle()" [src]='constante.getUrlImage(photo)'>

</div>
<div #cover id="cover" (tap)="blockEvent()"></div>
