<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes opérations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-list >
      <button  (tap)="detail(operationAvecDepense); false" (press)="transfert(operationAvecDepense); false" ion-item *ngFor="let operationAvecDepense of operations">
        <ion-row align-items-center justifiy-content-end no-padding [ngClass]="{ 'AvecDepense':operationAvecDepense.depense!=null}">
          <ion-col col-2> {{operationAvecDepense.operation.date}}</ion-col>
          <ion-col class="libelle" col-6> {{operationAvecDepense.operation.description}}</ion-col>
          <ion-col col-2> {{operationAvecDepense.operation.montant}} €</ion-col>
          <ion-col col-2 *ngIf="operationAvecDepense.operation.montant>0"> <ion-chip  color="secondary" class="toto"> {{operationAvecDepense.operation.typeOperation.libelle}}</ion-chip></ion-col>
          <ion-col col-2 *ngIf="operationAvecDepense.operation.montant<0"> <ion-chip  color="danger" class="toto"> {{operationAvecDepense.operation.typeOperation.libelle}}</ion-chip></ion-col>
        </ion-row>
      </button>
    </ion-list>


</ion-content>
