// Common list styles can be found in "./common.styles/layouts/lists"
liste-operation {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));

	}

  ion-chip.toto {
    font-size: xx-small;
    padding-right: 2px;
    padding-left: 2px;
    width: 100%;
  }

  ion-col.libelle {
    font-weight: bold;
  }

  .AvecDepense {
    opacity: 0.6;
    text-decoration:line-through;
  }
}
