<ion-header>
  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ event.libelle}} du {{ event.date}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <div class="list-item"  ion-item  *ngFor="let participant of participants">
        <ion-row align-items-center no-padding class="content-row one-line">
        <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
        <ion-col no-padding col-3 class="item-avatar">
          <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]='constante.getUrlImage(participant.user.urlAvatar)'></preload-image>
        </ion-col>
        <ion-col no-padding col-5 class="item-content">
          <h3 class="item-title"> {{participant.user.nom}} {{participant.user.prenom}}</h3>
          <p  class="item-description">
            <ion-icon style="font-size: 2.2em;margin-left: 15px;" name="call" (tap)="sms(participant)"></ion-icon>
            <ion-icon style="font-size: 2.2em;margin-left: 15px;" name="send" (tap)="sms(participant)"></ion-icon>
          </p>

        </ion-col>
        <ion-col no-padding  col-4 style="text-align: end;"  class="item-content">
          <h3 class="item-title" style="font-size:0.8rem" > A payé {{participant.aPaye.toFixed(2)}} €</h3>
          <h3 class="item-title" style="font-size:0.8rem" *ngIf="participant.doit.toFixed(2)>0"> Doit payer {{participant.doit.toFixed(2)}} €</h3>
          <h3 class="item-title" style="font-size:0.8rem" *ngIf="participant.doit.toFixed(2)<0"> Doit récupérer {{-participant.doit.toFixed(2)}} €</h3>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
  </div>

  <ion-fab right bottom>
    <button (tap)="addNewParticipant()" ion-fab color="danger"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>
</ion-content>


<ion-footer>
  <ion-segment [(ngModel)]="icons" color="primary">
    <ion-segment-button (tap)="ajouteDepense()" value="cash">
      <ion-icon name="cash"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="search" (tap)="rechercheOperation()">
      <ion-icon name="search"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark" (tap)="showDepense()">
      <ion-icon name="pricetags"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark" (tap)="bilan()">
      <ion-icon name="podium"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
