<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
  <div class="list-mini">

    <ion-list>
      <button class="list-item"  (tap)="open(event)" ion-item *ngFor="let event of events">
        <ion-row align-items-center no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding col-3 class="item-avatar">
            <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]='constante.BASE_URL_IMAGE+"/event/"+event.urlPhoto'></preload-image>
          </ion-col>
          <ion-col no-padding col-6 class="item-content">
            <h3 class="item-title"> {{event.libelle}}</h3>
            <p class="item-description"> Date : {{event.date}}</p>
            <p class="item-description"> Solde : {{event.montant}} €</p>
          </ion-col>
          <ion-col no-padding col-2 class="item-icon" >
            <ion-icon name="warning"  style="  color : red;" *ngIf="event.montant>50"></ion-icon>
          </ion-col>
          <ion-col no-padding  col-1 class="item-icon" style="text-align: end;">
              <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button (tap)="createNewEvent()" ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-segment [(ngModel)]="icons" color="primary">
    <ion-segment-button (tap)="createNewEvent()" value="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
