<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes amis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-searchbar (ionInput)="filtreAmi($event)"></ion-searchbar>
  <ion-item-divider class="notifications-divider">Les invitations</ion-item-divider>
  <div class="list-mini" *ngIf="invitation!=null && invitations.length>0">
    <ion-list>
      <button class="list-item"  ion-item *ngFor="let invitation of invitations">
        <ion-row align-items-center no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding col-3 class="item-avatar">
            <preload-image class="avatar-image rounded-image" [ratio]="{w:1, h:1}" [src]='constante.getUrlImage(invitation.contact.photo)'></preload-image>
          </ion-col>
          <ion-col no-padding col-6 class="item-content" >
            <h3 class="item-title"> {{invitation.contact.displayName}}</h3>
            <p class="item-description"> Envoyée le {{invitation.date}}</p>
          </ion-col>
          <ion-col no-padding col-3 justify-content-end class="item-content">
            <h3 class="item-title"> {{invitation.etatReponse}}</h3>
          </ion-col>
        </ion-row>
      </button>

    </ion-list>
  </div>
  <div class="list-mini" *ngIf="invitation==null || invitations.length==0">
    <ion-row align-items-center no-padding class="content-row one-line">
      <h3 class="item-title"> Aucune invitation en cours</h3>
    </ion-row>
  </div>
  <ion-item-divider class="notifications-divider">Les amis</ion-item-divider>
  <div class="list-mini">
    <ion-list>
      <button class="list-item"  (tap)="open(ami)" (press)="affecte(ami)"  ion-item *ngFor="let ami of amis">
        <ion-row align-items-center no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          <ion-col no-padding col-3 class="item-avatar">
            <preload-image class="avatar-image rounded-image" [ratio]="{w:1, h:1}" [src]='constante.getUrlImage(ami.urlAvatar)'></preload-image>
          </ion-col>
          <ion-col  col-9 class="item-content" >
            <h3 class="item-title"> {{ami.nom}} {{ami.prenom}}</h3>
            <p  class="item-description">
              <ion-icon style="font-size: 2.2em;margin-left: 15px;" name="call" (tap)="sms(participant)"></ion-icon>
              <ion-icon style="font-size: 2.2em;margin-left: 15px;" name="send" (tap)="sms(participant)"></ion-icon>
            </p>
          </ion-col>
        </ion-row>
      </button>

    </ion-list>
  </div>

  <ion-fab right bottom>
    <button (tap)="ajouteInvitation()" ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
