menu-circular {

  #cover {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:899;
    display: none;
  }
  .circular-menu {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: fixed;
    z-index: 900;
  }
  .invisible {
    display:none;
  }
  .centered-menu{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    width:100px;
    height:100px;
    border-radius:100%
  }

  .centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .circleClose {
    width: 250px;
    height: 250px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .circleOpen {
    width: 250px;
    height: 250px;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .petitMenu {
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    text-align: center;

  }
}
